
body {
  font-family: Arial, sans-serif;
  background: #c691cf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h1 {
    color: aliceblue;

}
title { 
    background: rgb(181, 100, 166);
    color: #f0e2f0;

}
p{
    color: azure;
}
.quiz-container {
  background: rgb(181, 100, 166);
  padding: 2rem;
  border-radius: 1rem;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

#answers button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #c5a5c1;
  border-radius: 0.5rem;
  background: #f0e2f0;
  cursor: pointer;
}

#answers button:hover {
  background: #873384;
}

#nextBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #871185;
  color: rgb(255, 253, 255);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#nextBtn:hover {
  background: #aa12c1;
}

